In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../uploads/aa.csv',parse_dates=[1],index_col=[0],)
df[:10]

,Date,Category,Category Name,Vendor Number,Vendor Name,Item Number,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars)
0,2016-12-26,1082200.0,IMPORTED SCHNAPPS,421.0,SAZERAC COMPANY INC,69636,750,8.66,12.99,12,155.88
1,2016-12-21,1062200.0,WHITE RUM,35.0,BACARDI USA INC,43121,500,5.54,8.31,1,8.31
2,2016-12-23,1062400.0,SPICED RUM,259.0,HEAVEN HILL BRANDS,43028,1750,11.55,17.33,6,103.98
3,2016-12-27,1032100.0,IMPORTED VODKAS,370.0,PERNOD RICARD USA,34008,1750,19.99,29.99,12,359.88
4,2016-12-27,1062400.0,SPICED RUM,260.0,DIAGEO AMERICAS,43338,1750,18.00,27.00,24,648.00
5,2016-12-22,1081600.0,WHISKEY LIQUEUR,421.0,SAZERAC COMPANY INC,64864,375,5.33,8.00,10,80.00
6,2016-12-23,1031100.0,AMERICAN VODKAS,434.0,LUXCO INC,36305,750,3.34,5.01,12,60.12
7,2016-12-22,1011400.0,TENNESSEE WHISKIES,85.0,BROWN FORMAN CORP.,26824,375,7.50,11.25,2,21.00
8,2016-12-27,1031200.0,AMERICAN FLAVORED VODKA,205.0,E & J GALLO WINERY,40193,750,7.50,11.25,2,20.70
9,2016-12-23,1082200.0,IMPORTED SCHNAPPS,421.0,SAZERAC COMPANY INC,69706,750,8.66,12.99,1,12.99

In [3]:
[i.lower() for i in df.columns]

['date',
 'category',
 'category name',
 'vendor number',
 'vendor name',
 'item number',
 'bottle volume (ml)',
 'state bottle cost',
 'state bottle retail',
 'bottles sold',
 'sale (dollars)']

In [4]:
df.dtypes

Date                   datetime64[ns]
Category                      float64
Category Name                  object
Vendor Number                 float64
Vendor Name                    object
Item Number                     int64
Bottle Volume (ml)              int64
State Bottle Cost             float64
State Bottle Retail           float64
Bottles Sold                    int64
Sale (Dollars)                float64
dtype: object

In [76]:
d = df.dropna()
d.reset_index(drop=True,inplace=True)
d.shape

(49877, 11)

In [69]:
def get_null_rows(self,df):
        null_clms = []
        for col in df.columns:
            if df[df[col].isnull()].shape[0] > 0:
                null_clms.append(col)
        tables = []
        for col in null_clms:
            tables.append(
                {
                    "column" : col,
                    "table" : df[df[col].isnull()]
                }
            )

        return tables
p = get_null_rows("",df)
p[0]

{'column': 'Category',
 'table':             Date  Category Category Name  Vendor Number  \
 84    2016-12-22       NaN           NaN          461.0
 401   2016-12-23       NaN           NaN           55.0
 572   2016-12-26       NaN           NaN          255.0
 813   2016-12-26       NaN           NaN          305.0
 815   2016-12-22       NaN           NaN          421.0
 ...          ...       ...           ...            ...
 48457 2017-01-09       NaN           NaN          259.0
 48582 2017-01-04       NaN           NaN          421.0
 48740 2016-12-27       NaN           NaN          421.0
 49464 2017-01-09       NaN           NaN           35.0
 49956 2017-01-04       NaN           NaN           65.0

                  Vendor Name  Item Number  Bottle Volume (ml)  \
 84          SKYY SPIRITS INC          349                 750
 401    SAZERAC NORTH AMERICA         4055                 750
 572         INFINIUM SPIRITS        27141                 750
 813                  MHW LTD        77744                 500
 815     SAZERAC COMPANY  INC         2629                 750
 ...                      ...          ...                 ...
 48457     HEAVEN HILL BRANDS          124                3600
 48582   SAZERAC COMPANY  INC         2629                 750
 48740   SAZERAC COMPANY  INC        76436                 750
 49464        BACARDI USA INC        43117                1000
 49956        JIM BEAM BRANDS          428                 750

        State Bottle Cost  State Bottle Retail  Bottles Sold  Sale (Dollars)
 84                  9.01                13.52            96         1297.92
 401                11.25                16.88             4           67.52
 572                76.33               114.50             3          343.50
 813                 7.34                11.01             1           11.01
 815                10.33                15.50             6           93.00
 ...                  ...                  ...           ...             ...
 48457               9.00                13.50             2           27.00
 48582              10.33                15.50             6           93.00
 48740               3.64                 5.46            12           65.52
 49464               9.50                14.25            12          171.00
 49956              15.07                22.61             3           67.83

 [122 rows x 11 columns]}

In [21]:
for i in df.loc[0].values:
    print(str(i))

2016-12-26
1082200.0
IMPORTED SCHNAPPS
421.0
SAZERAC COMPANY  INC
69636
750
8.66
12.99
12
155.88